body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

.profile-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
    text-align: center;
}

h1 {
    color: #444;
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
    visibility: visible; /* 确保元素是可见的 */
    z-index: 10; /* 如果有覆盖元素，确保标题在上层 */
}


p {
    color: #555;
    font-size: 16px;
    margin: 10px 0;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"],
input[type="number"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px 0;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2770be;
}

#foodPreview {
    background-color: #9d1e1e;
    padding: 10px;
    margin-top: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-align: left;
}

#foodPreview p {
    margin: 5px 0;
    font-size: 14px;
    color: #333;
}

a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

#topFoodsContainer {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    text-align: left;
}

#topFoodsList {
    list-style-type: none;
    padding: 0;
}

#topFoodsList li {
    margin-bottom: 10px;
    font-size: 16px;
}

